services:
  grafana:
    image: grafana/grafana:latest
    container_name: ${GRAFANA_CONTAINER}
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
      - GF_SERVER_ROOT_URL=https://incompletely-elemental-moonfish.cloudpub.ru/grafana/
      - GF_SERVER_SERVE_FROM_SUB_PATH=true
      - GF_SERVER_DOMAIN=incompletely-elemental-moonfish.cloudpub.ru
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - proxy

networks:
  proxy:
    external: true

volumes:
  grafana_data:
